@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Quicksand_Book-webfont.woff') format('woff'),
    url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
    url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #ffffff;
    background-image: url('Images/bg.jpg');
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90%;
    margin: 0px;
}  

a{
    color: #b5c1ad;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#header {
    background-image: url('Images/bg-header.jpg');
    padding: 0px 0px 0px 0px;
    width: 100%;
    margin: 0;
    height: 100px;    
}

#logo {
    display: inline-block;
}


.logo {
    margin: 0 12px 20px 20px;
} 

#nav-bar {
    color: #b5c1ad;
    float: right;
    padding: 45px 20px 0 0;
    font-size: 12px;
    font-family: QuicksandBook, Arial, Helvetica, sans-serif;
}

#wrapper {
    background-image: url('Images/bg-triangle.png');
    margin: 0px auto; 
    height: 570px;
    background-repeat: no-repeat;
    background-position: 0 -100px;
}



h1, h2 {
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}


#main-content {
    width: 500px;
    float: right;
}

#intro {
    font-size: 75%;
    line-height: 1.4em;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    color: #b5c1ad;
}

.triangles {
    position: relative;
    top: 42px;
    left: 122px;
}







