@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Quicksand_Book-webfont.woff') format('woff'),
    url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
    url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #ffffff;
    background-image: url('Images/bg.jpg');
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90%;
    margin: 0px;
}  

a{
    color: #b5c1ad;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#header {
    background-image: url('Images/bg-header.jpg');
    width: 100%;
    width: 100%;
    min-width: 600px;
    height: 100px;    
}

.header-triangle {
    margin: 0;
    padding: 0;
}

#logo {
    display:inline-block;
}


.logo {
    margin: 30px 20px;
} 

#nav-bar {
    color: #b5c1ad;
    float: right;
    padding: 45px 20px 0 0;
    font-size: 12px;
    font-family: QuicksandBook, Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
}

#triangles-img {
    background-image: url('Images/bg-triangle.png');
    height: 480px;
    background-repeat: no-repeat;
    background-position: 7px -100px;
}

h1, h2 {
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

#main-content {
    margin: 0 20px;
    padding: 0;
    width: 100%;
}

#heading {
    padding: 0;
    margin: 0;
    font-size: 240%;
}

#intro {
    font-size: 12px;
    clear: left;
    line-height: 1.4em;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    color: #b5c1ad;
    font-size: 16px;
}

.triangles {
    position: relative;
    top: 42px;
    left: 130px;
}







