* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    margin: 0 auto;
    background-color: #eee;
}

#page {
    margin: 10px auto;
}

/* HEADER */
header {
    padding: 0;
    margin: 10px;
    background-color: #333;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
}

header h1 {
    margin: 0;
    font-size: 42px;
    padding: 10px 0 0 0;
}

header nav {
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 10px 30px;
    padding: 0 0 10px 0;
}

header nav ul li a {
    text-decoration: none;
    color: #eee;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #3b0249;
    background-color: rgb(243, 243, 77);
}

.current-link {
    color: #000;
    background-color: #eee;
}

/* ----------------------------------------------------------- */

/* SECTION */
section {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

section article {
    padding: 20px;
    margin: 10px;
    border: 2px solid #333;
}

section article div {
    margin: 10px;
    padding: 10px;
    background-color: #3b0249;
    border-radius: 10px;

    /* DEFAULT FLEX SETTINGS */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

h2 {
    background-color: rgb(243, 243, 77);
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/* ----------------------------------------------------------- 
*/
/* order.html */
.order div {
    height: 300px;
    width: 500px;
}

.order div #two {
    order: 2;
}

.order div #minus-one {
    order: -1;
}

.order div #nine {
    order: 9;
}

.order div #minus-ten {
    order: -10;
}

.order div #zero {
    order: 0;
}

/* ----------------------------------------------------------- 
*/
/* flex-grow.html */

.flex-grow div {
    height: 300px;
    width: 600px;
    
}

.flex-grow div #two {
    flex-grow: 2;
}

.flex-grow div #three {
    flex-grow: 3;
}

/* ----------------------------------------------------------- 
*/
/* flex-shrink.html */
.flex-shrink div {
    height: 300px;
    width: 500px;
    flex-wrap: nowrap;

}
.flex-shrink div #three {
    flex-shrink: 3;
    width: 100px;
}
