* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed";
    font-size: 20px;
    color: #000;
    margin: 20px; 
    background-color: #eee;
}

#page {
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3),
    -30px 0px 40px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    background-color: #fff;
}

header { 
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}


#header-img {
    display: block;
    width: 250%;
    background-image: url('Images/main.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    padding: 0;
}

header nav {
    margin: 0;
    padding: 0 20px;
    text-align: center;
    color: #333;
}

header nav h1 {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
}

header nav h2 {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0;
    margin:0;
}

header nav button {
    padding: 10px;
    margin: 20px;
    font-size: 14px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #333;
}

header nav button:hover {
    background-color: #333;
    color: #eee;
    border: 2px solid rgb(141, 138, 138);
}

aside {
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 20px;
}

aside h1 {
    font-weight: 400;
}

section figure img {
    width: 100%;
}

section figure {
    text-align: center;
}

section figure figcaption {
    padding: 20px 0 0 0;
}

section figure p {
    font-size: 16px;
    padding: 0 0 20px 0;
}
