* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    margin: 0 auto;
    background-color: #eee;
}

#page {
    margin: 10px auto;
}

/* HEADER */
header {
    padding:0;
    margin: 10px;
    background-color: #333;
    text-align: center;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: #eee;
}

header h1{
    margin: 0;
    font-size: 50px;
    padding: 10px 0 0 0;  
}

header nav {
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 10px 30px;
    padding: 0 0 10px 0;
}

header nav ul li a {
    text-decoration: none;
    color: #eee;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

header nav ul li a:hover {
    color:rgb(247, 247, 58);
    background-color:rgb(238, 117, 95);
}

.current-link {
    color: #000;
    background-color: #eee;
}

/* ----------------------------------------------------------- */

/* SECTION */
section {
    margin: 20px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

section article {
    padding: 20px;
    margin: 10px;
    border: 2px solid #333;
}

section article div {
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 500px;
    background-color: rgb(240, 89, 62);
    border-radius: 10px;

    /* DEFAULT FLEX SETTINGS */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

h2 {
    background-color: rgb(255, 255, 101);
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

#row-wrap {
}

#row-wrap-reverse {
    flex-wrap: wrap-reverse;
}

#row-reverse-wrap {
    flex-direction: row-reverse;
}

#row-reverse-wrap-reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

#column-wrap {
    flex-direction: column;
}

#column-wrap-reverse {
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

#column-reverse-wrap {
    flex-direction: column-reverse;
}

#column-reverse-wrap-reverse {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}


/* justify.html */

/* SECTION */

#justify-content {
    margin: 20px auto;
}

/*
#justify-content article {
    display: inline;
}*/

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around
}

.justify-space-evenly {
    justify-content: space-evenly;
}

/* -------------------------------------------------------- */
/* align-items.html */

#align-items article div {
    flex-wrap: nowrap;
    height: 250px;
}

#align-items article div h2:first-child {
    height: 20px;
}

#align-items article div h2:last-child {
    height: 200px;
}

#align-items article div h2:nth-child(4) {
    height: 80px;
}

#align-items article div h2:nth-child(3) {
    height: 50px;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.align-baseline {
    align-items: baseline;
}

/* -------------------------------------------------------- */
/* align-content.html */

#align-content article div {
    flex-wrap: wrap;
    height: 400px;
    width: 700px;    
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-space-btw {
    align-content: space-between;
}

.align-content-space-ar {
    align-content: space-around;
}

.align-content-space-even {
    align-content: space-evenly;
}

