* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    /*background-color: #000000;*/
    /*background-image: url("Images/food.svg"), linear-gradient(150deg, rgb(58, 0, 27), rgb(16, 6, 63));*/
    background-image: url("Images/food.svg"), linear-gradient(110deg, yellow, red);
    background-color: #eee;
    /*background-blend-mode: overlay;*/
    /*min-height: calc(100vh - 100px);*/
    background-attachment: fixed;
    letter-spacing: -1px;
    margin: 20px;
    background-size: 200px, auto;
    
}

#wrapper {
    margin: auto;
    max-width: 900px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    color: #eee;
    /*color: rgb(16, 6, 73);*/
    box-shadow: 0 0 10px #333;
    box-shadow: 0 0 10px #333;
}

header  {
    background-image: url('Images/chaat.jpg');
    display: block;
    width: 100%;
    margin: auto;
    height: 100vh; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

header #header-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 

    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

#header-wrapper #navbar {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

#navbar nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#navbar nav ul li {
    display: inline-block;
    margin: 10px;
}

#navbar nav ul li a {
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    color: yellow;
}

#navbar nav ul li a:hover {
    background-color: yellow;
    color: orangered;
    border-radius:  5px;
}

#header-wrapper #landing-text {
    width: 100%;
    margin: 40px;
    padding: 0;
    padding: 20px;
    font-family: 'Shadows Into Light',
    cursive;
    text-shadow: 1px -2px orange, -1px 2px rgba(255, 0, 0, 0.836);
    color: yellow;
    font-size: 22px;
    letter-spacing: 0.25em;

    /*
    font-family: 'Cedarville Cursive',
    cursive;
    font-family: 'Comic Neue',
    cursive;
    font-family: 'Dawning of a New Day',
    cursive;
    font-family: 'Homemade Apple',
    cursive;
    font-family: 'Merienda',
    cursive;
    font-family: 'Patrick Hand SC',
    cursive;
    font-family: 'Shadows Into Light',
    cursive;
    */
}

header #header-wrapper #landing-text h1{
    text-align: center;
}

#header-wrapper #menu-list {
    width: 100%;
    margin: auto;
    padding: 0;
    width: 100%;
}

#menu-list ul {
    list-style-type: none;
    padding: 10px;
    text-align: center

}

#menu-list li {
    display: inline-block;
    background-color: yellow;
    color: orangered;
    padding: 1% 0.5%;
    font-size: 0.6em;
    font-weight: bold;
    margin: 1% 5%;
    width: 100px; 
}

#menu-list li:hover {
    color: black;
}

/* ------------------------------------- */
/* END OF HEADER */



#about-main {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 30px;
    overflow:hidden;
    font-size: 15px;
    margin: 0 auto;
}

#about-main h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin: 0px 20px 30px 20px;
    padding: 0;
    text-transform: uppercase;
    font-size: 25px;
    word-spacing: 0.4em;
}

#about-main #intro-text img {
    float: right;
    height: 50vh;
    text-align: center;
    margin: 0 20px 20px 20px;
}

#about-main #intro-text p {
    margin: 5px;
}


/* ------------------------------------- */
/* END OF ABOUT */


